# Web Server
fastapi==0.135.1
uvicorn==0.41.0
pydantic==2.12.5

# Data & Modeling
pandas==3.0.1
numpy==2.4.2
scikit-learn==1.8.0
joblib==1.5.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
# Utilities used in your src
scipy==1.17.1
statsmodels==0.14.6
fastparquet==2025.12.0